<h1>本一覧</h1>

<% @books.each do |book| %>
  <div>
    <%= link_to @user_name, user_path(current_user) do %>
      <%= image_tag book.get_image %>
    <% end %>
    <p>タイトル：<%= book.title %></p>
    <p>感想：<%= book.body %></p>
  </div>
<% end %>